*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*  NAVBAR */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .2);
    flex-direction: row;
    border-bottom: 1px white solid;
    position: fixed;
    top: 0; 
    
}

.nav-bar img {
    height: 53px;
}

.nav-bar p {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
}

.nav-list {
    text-align: center;
}

.nav-list li {
    list-style: none;
    display: inline-block;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.nav-list li a:hover {
    background-color: #211b4385;
    text-decoration: underline;
}

/*  EFECTO CARGA */

.entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("img/2.jpg");
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-name: entrada;
    transform: translateX(1920px);
}

@keyframes entrada {
    0% {transform: translateX(0);
        opacity: 1;}
    1%{opacity: 1;}
    75%{opacity: 1;}
    99% {opacity: 0;
        transform: translateX(0);}
    100% {transform: translateX(-1920px);}
}

/*  TEXTO + ANIMACION */

.ttlentrada{
    text-align: center;
    font-size: 100px;
    color: #6ea5b8;
}

.infoentrada{
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    color: #EB5715;
}

.entradatext{
    background-color: none;
    animation: entradacontenido 1.2s infinite alternate  ;
}

@keyframes entradacontenido {
    0% {opacity: 1;}
    40% {opacity: 1;}
    100% {opacity: 0;}
}

/*  HERO */
.maincontainer{
    background-image: url("img/1.jpg");
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cont{
    grid-column: 1/3;
    align-self: center;
    margin-left: 100px;
    width: 800px;
    height: 500px;
}

/*  TITULO - HERO */

.ttlmain{
    font-size: 150px;
    color: #6ea5b8;
}

/*  DESCRIPCION - HERO */

b{
    color: #6ea5b8
}

.infomain{
    font-size: 40px;
    color: #d4a26f;
    margin-bottom: 50px;
}

/*  BOTON + ANIMACION - HERO */

.btn2{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 2px solid #6ea5b8;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 600;
    color: #6ea5b8;
    animation: btn 2s infinite alternate;
    cursor: pointer;
}

@keyframes btn{
    0% { }
    50% {}
    100% {color: #fff;
        background: #EB5715;
        border: 2px solid #fff;}
}

/*  IMAGEN - HERO */

.imghero{
    grid-column: 3/4;
    justify-content: end;
    display: flex;
   
}

.imghero img{
    width: 1100px;
    align-self: flex-end;
    justify-self: flex-end;
}

/*  ADOPCION */

#adopcion{
    background-image: url("img/bck3.jpg");
    padding: 5px 0 20px ;
}

/*  TITULO ADOPCION - ADOPCION*/

.containermax{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 90px ;    
}

.containertt{
    display: flex;
    width: 950px;
    height: 75px;
    overflow: hidden;
    position: absolute;
}

/*  ANIMACION TITULO  - ADOPCION*/

.tituloscontainer{
    transform: translateY(-30px);
    animation: txt 5s infinite alternate  ;
}

@keyframes txt{
    0% { transform: translateY(75px) ;}
    10% {transform: translateY(75px);}
    20% {transform: translateY(0);}
    60% {transform: translateY(0);}
    70% {transform: translateY(-95px);}
    100% { transform: translateY(-95px);}
}

/*  TITULO FIJO - ADOPCION */

.ttl{
    display: block;
    margin-left: 25px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #EB5715;
    letter-spacing: 10px;
    font-size: 60px;
}

/*  TEXTO MOVIMIENTO - ADOPCION */

.esp{
    color: #ffffff;
    width: 300px;
    -webkit-text-stroke: 2px #83cee7;
    letter-spacing: 10px;
    font-size: 60px;
    overflow: hidden;
}

/*  CANTIDAD DE CAJAS - ADOPCION */

.adopcion{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: 220px;
    grid-gap: 40px;
}

.imgrid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.8;
    transition: 2s;
    border-radius: 30px;
}

/*  EFECTO IMAGEN ADOPTAR - ADOPCION */

.imgrid:hover{
    opacity: 1;
    filter: saturate(200%) ;
    filter: contrast(120%);
}

/*  POSICION DE CAJAS - ADOPCION*/

.item{
    position: relative;
    border-radius: 30px;
    box-shadow: 8px 8px 9px -5px rgba(0,0,0,0.5);
}

.item a{
    text-align: center;
}

.item:nth-child(1){
    grid-row: 1 / 3;
}

.item:nth-child(2){
    grid-row: 1 / 3;
}

.item:nth-child(5){
    grid-column: 3 / 5;
}

.item:nth-child(6){
    grid-column-start: span 2;
}

/*  CAJA INFORMACION - ADOPCION*/

.caja{
    position: absolute;
    margin-bottom: -30px;
    bottom: 0;
    background-image: url("img/bck.jpg");
    border-radius: 10px 10px 30px 30px;
    width: 100%;
    opacity: 0;
    transition: 1s;
    display: grid;
    align-items: center;
    box-shadow: -1px -3px 9px -5px rgba(0,0,0,0.75);
}

.caja:hover{
    transform: translateY(-30px);
    opacity: 1;
}

.caja h3{
    margin: 10px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 18px;
}

/*  BOTON ADOPTAR - ADOPCION*/

.btn{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 2px solid #6ea5b8;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 600;
    color: #6ea5b8;
    transition: 1s;
}

.btn:hover{
    cursor: pointer;
    color: #fff;
    background: #6ea5b8;
    font-size: 18px;
    
}

/*  BENEFICIOS */

.benefits-main-container {
    height: 1050px;
    background-image: url("img/bck.jpg") ;
    border-bottom: solid 0.5px gray;
    
}

.benefits-cards-container {
    width: 90%;
    margin: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
}
      
    
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
      
      
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
}
      
      
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
      
      
.flip-card-front {
    background-color: rgb(245, 240, 233);
    color: rgb(212, 162, 111);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

.flip-card-front img {
    width: 100%;
    height: 170px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;  
}

.flip-card-front h2{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}   
     
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    font-size: 2.2rem;
    padding: 20px;
        
}

.benefits-info {
    padding-top: 100px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benefits-info h2 {
    font-size: 4rem;
}

.benefits-info p {
    font-size: 2.5rem;
}


/*  CONTACTO */

.contacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url(img/bck2.jpg);
}

/*  TITULO - CONTACTO*/

.ttlcontacto{
    font-size: 40px;
    grid-column: 1/3;
    margin-left: 50px;
    margin-top: 80px;
    color: #6ea5b8;
    letter-spacing: 10px;
}

/*  IMAGEN - CONTACTO*/

.imgcontacto{
    object-fit: cover;
    width: 750px;
}

/*  FORMULARIO CONTACTO - CONTACTO*/

.user{
    align-self: end;
    grid-column: 4 / 4;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    width: 700px;
    height: 600px;
    margin-right: 130px;
    margin-bottom: 80px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 9px 10px 38px -18px rgba(0,0,0,1);
}

form{
    font-size: 20px;
    color: #6ea5b8;
    display: block;
    margin-bottom: 10px;
}

.ttlform{
    margin-top: 20px;
    margin-bottom: 30px;
}

input{
    width: 650px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    color: #6ea5b8;
    font-weight: 600;
}

input:focus{
    outline-color: #b7b3b8;
}

.bordeinterior{
    box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
}

/*  BOTON FORMULARIO - CONTACTO*/

.submit{
    background-color: #6ea5b8;
    color: aliceblue;
    font-size: 18px;
    letter-spacing: 2px;
    height: 40px;
    box-shadow: 4px 7px 10px -6px rgba(0,0,0,0.83);
    transition: 1.5s;
    margin-top: 20px;
}

.submit:hover{
    background-color: #EB5715;
    letter-spacing: 10px;
    transition: 1.5s;
}

/*  FOOTER */

footer {
    width: 100%;
    margin: 0px;
    background-image: url("./img/bck.jpg");
    height: 350px;
    padding: 40px 80px;
    
}

.top-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.right-top {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 25px;
    margin-left: 50px;
}

.right-top div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-top h3 {
    font-size: 2.8rem;
    
}
.right-top a {
    color: rgb(7, 7, 41);
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-decoration: none;
    
}

.right-top a:hover {
    color: rgb(122, 122, 122);
}

.bottom-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    border-top: solid 1px rgb(212, 212, 212);
}

.left-bottom {
    margin-left: 120px;

}

.left-bottom p, .right-bottom p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    
}

.right-bottom {
    width: 30%;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
}

.right-bottom a {
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-decoration: none;
}


.icons-container {
    display: flex;
    list-style: none;
    gap: 50px;
    width: 80%;
    margin-top: 40px;
    justify-content: right;
    align-items: center;
}

.icons-container a {
    text-decoration: none;
}

.icons-container i {
    font-size: 4rem;
    color: #6ea5b8;;
}

.icons-container i:hover {
    color: rgb(2, 117, 117);
    transform: scale(1.2);
    }



 