*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

html {
    font-size: 62.5%;
}

/* body {
    background-image: url(https://besthqwallpapers.com/Uploads/14-12-2019/115857/thumb2-paws-patterns-creative-footprints-patterns-abstract-backgrounds-dog-footprints.jpg);
} */


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .2);
    flex-direction: row;
    border-bottom: 1px white solid;
    position: fixed;
    top: 0; 
    
}

.nav-bar img {
    height: 53px;
}

.nav-bar p {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-list {
    text-align: center;
}

.nav-list li {
    list-style: none;
    display: inline-block;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.nav-list li a:hover {
    background-color: #211b4385;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slider ul{
    margin: 0;
    padding: 0;
    display: flex;
    animation: cambio 20s infinite alternate ;
}

.slider li{
    list-style: none;
    width: 100%;
    height: 100vh;
}

.slider img{
    width: 1920px;
    height: 1080px;
}

@keyframes cambio{
    0% { margin-left: 0;}
    35% { margin-left: 0;}
    40% { margin-left: -100%;}
    70% { margin-left: -100%;}
    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}

#adopcion{
    background-image: url("img/bck.jpg");
    padding: 5px 0 20px ;
}

.containermax{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 90px ;    
}

.containertt{
    display: flex;
    width: 950px;
    height: 75px;
    overflow: hidden;
    position: absolute;
}

.tituloscontainer{
    transform: translateY(-30px);
    animation: txt 5s infinite alternate  ;
}

@keyframes txt{
    0% { transform: translateY(75px) ;}
    20% {transform: translateY(75px);}
    30% {transform: translateY(0);}
    60% {transform: translateY(0);}
    70% {transform: translateY(-95px);}
    100% { transform: translateY(-95px);}
}

.ttl{
    display: block;
    margin-left: 25px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #EB5715;
    letter-spacing: 10px;
    font-size: 60px;
}

.esp{
    color: #ffffff;
    width: 300px;
    -webkit-text-stroke: 2px #83cee7;
    letter-spacing: 10px;
    font-size: 60px;
    animation: entrada 2s  infinite alternate;
    overflow: hidden;
}


.adopcion{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: 230px;
    grid-gap: 40px;
}

.imgrid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.8;
    transition: 2s;
    border-radius: 30px;
}

.imgrid:hover{
    opacity: 1;
    filter: saturate(200%) ;
    filter: contrast(120%);
}

.item{
    position: relative;
}

.item:nth-child(1){
    grid-row: 1 / 3;
}

.item:nth-child(2){
    grid-row: 1 / 3;
}

.item:nth-child(5){
    grid-column: 3 / 5;
}

.item:nth-child(6){
    grid-column-start: span 2;
}

.caja{
    position: absolute;
    margin-bottom: -30px;
    bottom: 0;
    background-image: url("img/bck.jpg");
    border-radius: 10px 10px 30px 30px;
    width: 100%;
    opacity: 0;
    transition: 1s;
    display: grid;
    align-items: center;
    box-shadow: -1px -3px 9px -5px rgba(0,0,0,0.75);
}

.caja:hover{
    transform: translateY(-30px);
    opacity: 1;
}

.caja h3{
    margin: 10px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 18px;
}

.btn{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 2px solid #6ea5b8;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 600;
    color: #6ea5b8;
    transition: 1s;
}

.btn:hover{
    cursor: pointer;
    color: #fff;
    background: #6ea5b8;
    font-size: 18px;
    
}

